{% extends "base.html" %}

{%block content %}

    <div class="container">
        <h1>Expense Tracker</h1>
        <button class="logout-btn" onclick="window.location.href='{% url 'logout' %}'">Logout</button>

        <!-- BALANCE -->
        <div class="balance">
            <h2>Your Balance</h2>
            <p>${{ balance|default:"0.00" }}</p>
        </div>

        <!-- INCOME & EXPENSES -->
        <div class="summary">
            <div>
                <h3>Income</h3>
                <p class="income">+${{ income|default:"0.00" }}</p>
            </div>
            <div>
                <h3>Expenses</h3>
                <p class="expense">-${{ expense|default:"0.00" }}</p>
            </div>
        </div>

        <!-- ADD TRANSACTION FORM -->
        <div class="transaction-form">
            <h3>New Transaction</h3>
            <form method="POST">
                {% csrf_token %}
                <input type="text" name="description" placeholder="Description" required>
                <input type="number" name="amount" placeholder="Amount" step="0.01" required>
                {% comment %} <select name="type" required>
                    <option value="income">Income</option>
                    <option value="expense">Expense</option>
                </select> {% endcomment %}
                <button type="submit">Add Transaction</button>
            </form>
        </div>

        <!-- HISTORY -->
         {% comment %} <div class="history-header">


   
</div> {% endcomment %}

       <div class="history">
    <div class="history-header">
        <h3>Transaction History</h3>

        <span 
            id="toggleHistory" 
            onclick="toggleHistory()" 
            data-tooltip="Hide transactions">
            👁️
        </span>
    </div>

    <ul id="history-list">
        {% for transaction in transactions %}
            <li class="{% if transaction.expense_type == 'CREDIT' %}credit{% else %}debit{% endif %}">
                <span class="description">{{ transaction.description }}</span>
                <span class="amount">
                    ${{ transaction.amount }}
                </span>
                <!-- DELETE BUTTON -->
        <a href="{% url 'delete_transaction' transaction.id %}" class="delete-btn">🗑️</a>
            </li>
        {% empty %}
            <li>No transactions yet</li>
        {% endfor %}
    </ul>
</div>

{% endblock %}